@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Import the font from Google Fonts */

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --left-btn-hovercolor: rgba(87, 84, 236, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
}
